:root {
    --color-white: #ebebeb;
    --color-black: #292929;
    --color-red: #D16666;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A04747;
}

.header {
    /* background-image: url("landingPage.svg");
    background-size: cover;
    background-position: center; */
    color: var(--color-white);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    background-color: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#loader {
    text-align: center;
    margin-top: 10px;
    color: var(--color-white);
    font-size: large;
}

@media (max-width: 576px) {
    .content {
        padding: 10px;
        border-radius: 20px; /* Reduce border radius */
        font-size: 12px;
    }

    #loader {
        font-size: small;
    }

    .header {
        padding: 15px;
    }
}